{% extends 'preview-main.html' %} {% load static %} {% block content %}
<div class="home-container">
  <img src="" alt="" />
  <div class="text">
    <h3>Easily connect all your socials, websites into one single page.</h3>

    <p class="home-p-tag">
      One link for everything you love and everything you do.
    </p>

    <p>
      <a href="" class="get-started-btn"> Get started for free </a>
    </p>

    <p>
      Already have an account?
      <a href="" class="login-btn">Login</a>
    </p>
  </div>
</div>
{% endblock %}
