{% extends 'preview-main-page.html' %} {% load static %} {% block content %}

<div class="">
  <div class="">
    {% if request.user.profile_image %}
    <img src="{{ request.user.profile_image.url }}" alt="" /><br />
    {% endif %} 
    <span class="username">@{{request.user.username}}</span>
    {% if request.user.bio %}
    <span class="bio">{{ request.user.bio }}</span>
    {% endif %}
  </div>

  {% for link in links %}
  <ul class=">
    <li class=""><a href="{{link.url}}">{{link.name}}</a></li>
  </ul>
  {% endfor %}
</div>

{% endblock %}
